@import "styles/settings/__settings";

.button {
  background-color: #202124;
  border: none;
  color: white;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoContainer {
  background-color: white;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
}

.googleLogo {
  width: 24px;
  height: 24px;
}

.buttonText {
  font-weight: bold;
}