.searchInputContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  @media (min-width: 768px) {
    flex-direction: row;
  }

  table {
    margin-bottom: 0
  }

  .searchwrapper {
    width: 95%; // Set to 90% to provide some padding on mobile
    border-radius: 2px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;


    @media (min-width: 768px) {
      // On larger screens, set width to 50%
      width: 50%;
    }

    @media (max-width: 1300px) and (min-width: 768px) {
      // On larger screens, set width to 50%
      width: 90%;
    }
  }

  /* Scrollbar customization */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c5c5c5;

  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: #c5c5c5 #f1f1f1;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;

  }

  html::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

.searchInputContainer input[type="search"] {
  width: 60%; // Set to 70% to accommodate category selector
  height: 70px;
  border: 1px solid #fff;
  border-radius: 5px;

  @media (max-width: 1300px) and (min-width: 768px) {
    width: 70%;
  }


  &:focus {
    outline: none;
  }
}

.selectcategory {
  border: 1px solid #fff;
  border-radius: 5px;
  height: 70px;
  width: 40%; // Set to 25% to fit on same line with search input

  @media (min-width: 768px) {
    width: 20%;
  }

  @media (max-width: 1300px) and (min-width: 768px) {
    width: 25%;
  }

  &:focus {
    outline: none;
  }
}

.searchInputTable {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%; // Set to 90% for mobile visibility
  max-height: 500px;
  overflow-y: auto;
  z-index: 1;
  border: 1px solid #ccc;
  background-color: #fff;

  @media (min-width: 768px) {
    width: 50%;
    max-height: 700px;
    border: 1px solid #ccc;

  }

  @media (max-width: 1300px) and (min-width: 768px) {
    width: 90%;
    border: 1px solid #ccc;
    background-color: #fff;

  }
}

.searchInputTable table {
  border-collapse: collapse;
  width: 100%;
}

.searchInputTable p {
  color: #757575;
  padding-left: 10px;
}

.searchInputTable tr {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #131313;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 100%;
  text-transform: uppercase;
  background-color: #fff;

  &:hover {
    background-color: #f1f1f1;
    transition: 0.2s;
  }
}

.searchInputTable td {

  vertical-align: middle;
  position: relative;
  width: 90%;
  border: none;
}



.searchInputTable h2 {
  float: left;
  font-size: 16px;
  margin-right: 10px;
}

.searchInputTable img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;
}

.loadingMessage {
  text-align: center;
  padding: 8px;
}

.imagecontainer {
  float: right;
}