.searchInputContainer {
    position: relative;
}



.searchInputTable {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;

}

.searchInputTable table {
    border: none;
    margin: 0;
    width: 100%;

}

.searchInputTable tr {
    border-bottom: 1px solid #ddd;
}

.searchInputTable td {
    padding: 8px;
    vertical-align: middle;
}

.searchInputTable h2 {
    float: left;
    font-size: 16px
}

.searchInputTable img {
    width: 30px;
    height: 30px;
    float: right;
}

.loadingMessage {
    text-align: center;
    padding: 8px;
}

.imagecontainer {
    float: right;
}