.searchInputContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  table {
    margin-bottom: 0
  }

  .searchwrapper {
    width: 50%;
    border-radius: 2px;
    background-color: #fff;
    padding-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }

  /* Scrollbar customization */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c5c5c5;

  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: #c5c5c5 #f1f1f1;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;

  }

  html::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

.searchInputContainer input[type="search"] {
  width: 80%;
  height: 70px;
  border: 1px solid #fff;
  border-radius: 5px;
  float: left;

  &:focus {
    outline: none;
  }
}

.selectcategory {
  border: 1px solid #fff;
  border-radius: 5px;
  height: 70px;
  float: right;
  width: 20%;

  &:focus {
    outline: none;
  }
}

.searchInputTable {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-height: 700px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  z-index: 1;
  border-top: 10px solid #A54BFA;

}

.searchInputTable table {
  border-collapse: collapse;
  width: 100%;
}

.searchInputTable p {
  color: #757575;
  padding-left: 10px;
}

.searchInputTable tr {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #131313;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 100%;
  text-transform: uppercase;

  &:hover {
    background-color: #f1f1f18c;
    transition: 0.2s;

  }
}

.searchInputTable td {

  vertical-align: middle;
  position: relative;
  width: 90%;
  border: none;
}



.searchInputTable h2 {
  float: left;
  font-size: 16px;
  margin-right: 10px;
}

.searchInputTable img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;
}

.loadingMessage {
  text-align: center;
  padding: 8px;
}

.imagecontainer {
  float: right;
}